.socials {
  display: inline;
  padding-right: 1rem;
}

.gradientBtn {
  background-image: linear-gradient(to right, #9c248e, #fcce08);
  border: 1px solid #9c248e;
  transition: 0.5s;
}

.gradientBtn:hover {
  opacity: 0.75;
}

.bottomClass {
  position: absolute;
  bottom: 9rem;
}

.hero {
  height: 92vh;
}

.hero::after {
  content: "";
  background: url("/images/background-header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1100px) {
  .hero::after {
    background-image: url("/images/mobile-background.png");
    width: 100%;
    background-size: cover;
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
